<div class="item">
	<!-- 日期分类 -->
	<!--处理显示时间的小框，等到请求完成时显示-->
	<div class="mark" ng-show="loaded">{{date|date:"dd MMM"}}</div>
	<ul class="posts">
		<!-- 文章 -->
		<li ng-repeat="post in posts">
			<!--灰色小框：当post.column.name没值时，不显示，有值时显示-->
			<span href="javascript:;" ng-if="post.column.name" class="tag">{{post.column.name}}</span>
			<div class="cont">
				<h3>{{post.title}}</h3>
				<div class="brief">
					<!-- 10001,10002-->
					<p ng-class="{only:post.display_style === 10001}" ng-if="post.display_style === 10001 || post.display_style === 10002">{{post.abstract}}</p>
					<!-- 10002-->
					<div class="thumb" ng-if="post.display_style === 10002">
						<img ng-src="{{post.thumbs[0].small.url}}" alt="">
					</div>
					<!-- 10003-->
					<div class="gallery" ng-if="post.display_style === 10003">

						<div class="img-box" ng-repeat="thumb in post.thumbs">
							<!--图片遍历显示-->
							<img ng-src="{{thumb.small.url}}" alt="">
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>